p {
    padding: 10px;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% da altura da tela */
    margin: 0;
    padding: 0;    
    font-size: 0.4m;
    font-family: 'Consolas', 'Courier New', 'Lucida Console', 'Monaco', 'Menlo', 'Liberation Mono', 'DejaVu Sans Mono', 'FreeMono', monospace;
    text-shadow: -1px -1px 0 #1DA1F2,  
    1px -1px 0 #000000, 
   -1px  1px 0 #000000, 
    1px  1px 0 #000000;
    background-color: #000000;
    color: #0000ff;
}


nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
    flex-wrap: wrap
}

nav a {
    border: none;
    color: #0000ff;
    background-color: #000000;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 0.6cm;
    flex-shrink: 0;
    font-family: 'Consolas', 'Courier New', 'Lucida Console', 'Monaco', 'Menlo', 'Liberation Mono', 'DejaVu Sans Mono', 'FreeMono', monospace;

}

nav a:hover {
    color: #000000;
    background-color: #0000ff;
    font-size: 0.8cm;
    margin: 5px;
    padding: 15px;
}



div#content {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex: 1;
}

div#box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;

}

div#box1, div#box2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    width: 400px;
}

div#box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    min-width: 200px;
    max-width: 225px;
}

img {
    min-width: 190px;
}

div#box3, div#box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    min-width: 200px;
    max-width: 225px;
}

.box {
    height: 400px;
    margin: 5px;
    padding: 5px;
    transition: all 0.3s ease;
}

.box:hover {
    border: 3px solid #0000ff;
    height: 450px;
    margin: 15px;
    padding: 15px;
}

    

button {
    border: none;
    color: #0000ff;
    background-color: #000000;
    padding: 10px 10px 10px 10px;
    font-size: inherit;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: -1px -1px 0 #1DA1F2,  
    1px -1px 0 #000000, 
   -1px  1px 0 #000000, 
    1px  1px 0 #000000
    
}

button:hover {
    color: #000000;
    background-color: #0000ff;
    font-size: 0.5cm;
}


.p5px {padding: 5px;}
.m5px {margin: 5px;}
.null {
    margin: 0px;
    padding: 0px;
}

