html {
    color: #0000ff;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    padding: 10px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 0.4m;
    font-family: 'Consolas', 'Courier New', 'Lucida Console', 'Monaco', 'Menlo', 'Liberation Mono', 'DejaVu Sans Mono', 'FreeMono', monospace;
    text-shadow: -1px -1px 0 #1DA1F2,  
    1px -1px 0 #000000, 
   -1px  1px 0 #000000, 
    1px  1px 0 #000000
}


nav {
    display: flex;
    flex-direction: center;
    justify-content: center;
    border-bottom: 1px solid #0000ff;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

nav a {
    border: none;
    color: #0000ff;
    background-color: #000000;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 0.6cm;
    font-family: 'Consolas', 'Courier New', 'Lucida Console', 'Monaco', 'Menlo', 'Liberation Mono', 'DejaVu Sans Mono', 'FreeMono', monospace;

}

nav a:hover {
    color: #000000;
    background-color: #0000ff;
    font-size: 0.8cm;
    margin: 5px;
    padding: 15px;
}

div#conteiner {
    display: flex;
    flex-direction: column;
    color: #0000ff;
    background-color: #000000;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


div#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    flex-direction: row;
    height: 100%;
    width: 200%;
    margin: 0px;
    padding: 0px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    max-width: 550px;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    max-width: 300px;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    max-width: 250px;
}

.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #0000ff;
    border-radius: 10px;
    width: 50px;
    height: 100%;
}

div#box {
    height: 400px;
    margin: 5px;
    padding: 5px;
    transition: all 0.3s ease;
}

div#box:hover {
    border: 3px solid #0000ff;
    height: 450px;
    margin: 15px;
    padding: 15px;
}

    

button {
    border: none;
    color: #0000ff;
    background-color: #000000;
    padding: 10px 10px 10px 10px;
    font-size: inherit;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: -1px -1px 0 #1DA1F2,  
    1px -1px 0 #000000, 
   -1px  1px 0 #000000, 
    1px  1px 0 #000000
    
}

button:hover {
    color: #000000;
    background-color: #0000ff;
    font-size: 0.5cm;
}


div#site {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}



.p5px {padding: 5px;}
.m5px {margin: 5px;}
.null {
    margin: 0px;
    padding: 0px;
}